html {
    background-color: black;
}

body{
  margin: auto;
  padding: 0 20px 20px 20px;
}

#first-text {
  padding: 0 20px 20px 20px;
}


h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Chivo Mono', monospace;
    color: olivedrab;
    margin: 0 auto;
    text-shadow: 3px 3px 1px white;
}

p {
    width: 700px;
    margin: 0 left;
    color: olivedrab;
    text-align: left;
    font-size: 16px;
    font-family: 'Chivo Mono', monospace;
    
}

a {
    color: olivedrab;
    font-size: 16px;
    font-family: 'Chivo Mono', monospace;
}

ul {
    width: 700px;
    margin: 0 left;
    color: #A441A4;
    font-size: 16px;
    font-family: 'Chivo Mono', monospace;
    
}

#first-slide{
  /*display: block;*/
  width: 600px;
  height: 350px;
  margin: 10px right;
  padding: 25px 10px 10px 10px;
}

